@charset "UTF-8";
/* CSS Document */

/*
font-family: "source-han-sans-traditional", sans-serif;
font-weight: 300;
font-style: normal;
font-family: "source-han-sans-traditional", sans-serif;
font-weight: 700;
font-style: normal;
*/

* {margin:0px; padding:0px;}

body, html {font-family:'source-han-sans-traditional','微軟正黑體','Microsoft Jhenghei',sans-serif; font-size:16px; line-height:24px; font-weight:300; position:relative;}
a, input, button {text-decoration:none; outline:none !important;}
a:hover, a:focus, a:active {text-decoration:none; cursor:pointer !important; outline:none !important;}
ul, li {list-style:none;}

.cleardiv {clear:both;}

#comsoon {display:flex; justify-content:center; align-content:center; flex-wrap:wrap; width:100vw; height:100vh; position:relative; background:url(../images/coming_bg.jpg) center no-repeat; background-size:cover;}

h1 {display:block; width:100%; font-size:30px; line-height:40px; color:white; font-weight:700; text-align:center;}
h2 {display:block; width:100%; font-size:24px; margin-top:30px; color:white; font-weight:700; text-align:center;}



@media screen and (max-width: 480px) {
    h1 {font-size:26px;}
    h2 {font-size:20px;}
}


