@charset "UTF-8";
/* CSS Document */

body, html {background:url(../images/bg_big.jpg) top center no-repeat; background-size:cover; height:100vh;}


.cont{
    width: 100%;
    overflow: hidden;
    margin:-50px 0px 50px 0px;
}

.scorri, .scorri_b, .scorri_c, .scorri_d{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.tithome{
    animation-name: marquee;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    flex-shrink: 0;
    margin:0px -2px;
}

.tithome li{
    width: fit-content;
    display: inline-block;
    list-style: none;
    margin-right:-5px;
    font-size: 40px;
}

.tithome li img {max-width:150px;}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.tithome_b{
    animation-name: marquee_b;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    flex-shrink: 0;
    margin:0px -2px;
}

.tithome_b li{
    width: fit-content;
    display: inline-block;
    list-style: none;
    margin-right:-5px;
    font-size: 40px;
}

.tithome_b li img {max-width:150px;}

@keyframes marquee_b {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

/* .tithome_c{
    animation-name: marquee_c;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    flex-shrink: 0;
    margin:0px -2px;
}

.tithome_c li{
    width: fit-content;
    display: inline-block;
    list-style: none;
    margin-right:-5px;
    font-size: 40px;
}

.tithome_c li img {max-width:150px;}

@keyframes marquee_c {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

.tithome_d{
    animation-name: marquee_d;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    flex-shrink: 0;
    margin:0px -2px;
}

.tithome_d li{
    width: fit-content;
    display: inline-block;
    list-style: none;
    margin-right:-5px;
    font-size: 40px;
}

.tithome_d li img {max-width:150px;}

@keyframes marquee_d {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
} */


@media screen and (max-width: 480px) {

    .cont {margin:-20px 0px 30px 0px;}
    .tithome li img {max-width:150px;}
    .tithome_b li img {max-width:150px;}
    
}
