@charset "UTF-8";
/* CSS Document */

body, html {background:url(../images/bg_big.jpg) top center no-repeat; background-size:cover;}

#tabs {margin:100px auto;}

.ui-widget {font-family:'SweiSansCJKtc-Regular','微軟正黑體','Microsoft Jhenghei',sans-serif !important;}

.ui-widget.ui-widget-content {border:0px;}
.ui-widget-content {background:none;}

.ui-tabs .ui-tabs-nav {display:flex; justify-content:center;}
.ui-widget-header {background:none; border:0px;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {border:0px; background:#4563d3; border-radius:50px;}
.ui-tabs .ui-tabs-nav li {margin:0px 10px;}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {padding:6px 30px 4px 30px;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {border-radius:50px; border:0px;}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {border:0px;}



@media screen and (max-width: 480px) {

    
    
}
